
@charset "utf-8";
$text-color: red;
$link-color: red;
$paragraph-indent: true;
$indent-var: 10;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

